p{
    color: aquamarine;
}

.cls1{
    color: aqua;
}

#id1{
    color: pink;
}

.btn btn-primary{
    color: pink;
}

.btn btn-secondary{
    color: aquamarine;
}

.btn btn-third{
    color: lightsalmon;
}